<div id="main-wrapper">
  <app-header id="header"></app-header>
  <div id="main">
    <span class="manchete">Bruno Ferreira</span>
    <span class="email">codethebasics@gmail.com</span>
    <span class="description">
      Software developer since 2006. Java, HTML, CSS & Javascript are the technologies that I like the most.
    </span>
    <div class="cta-wrapper">
      <button class="button-cta-primary">See my portfolio</button>
    </div>
    <div class="background-image">
      <img src="assets/img/browsing-background.svg" alt="">
    </div>
  </div>
</div>
